@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*li{
    margin: 11px;

}
li:hover{
    transform: scale(1.05)
}*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Source+Sans+3&family=Vujahday+Script&display=swap');

p {
    text-align: center;
    overflow: hidden;
    font-family: "myfont";
}

h3 {
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px red;
}